
**First Notebook**

Learn some cmds:

* ESC unhighlights cells
* "a" to creat new cell above and "b" for new cell below
* "dd" deletes cell, "z" undos deletion 
* "shift + enter" run cell

**Some examples of python math operators**

**Arithmetic :**

$$\left(\frac{(5+2)(6+5)}{3-2}\right)^2$$

In [11]:
((5 + 2)*(6 + 5)/(3-2))**2

5929.0

**Also Integer division & Modulo operators**

In [6]:
23453//14

1675

In [5]:
23453%14

3

**Variables**

In [13]:
x= 10

In [14]:
x**2

100

In [19]:
x= 'gato{}'.format('s')

In [20]:
x

'gatos'

In [21]:
age = 21.5 # <- years old

In [23]:
x= 'I am {} years old'.format(age)

In [24]:
x

'I am 21.5 years old'

**List, Tuples, Dictionaries, Arrays**

List

In [30]:
x = [1,2,3,4,'gato',[2,43,5,2]]

In [31]:
x

[1, 2, 3, 4, 'gato', [2, 43, 5, 2]]

In [32]:
x[0]

1

In [36]:
x[5]

[2, 43, 5, 2]

In [35]:
x[5][1]

43

Tuple (Like a list but is immutable)

In [ ]:
x= (1,2,3,4,'buggy',[2,3])

Dict

In [42]:
d = {'gato':'bepo', 'dog': 'mid', 23:1}

In [40]:
d['gato']

'bepo'

Array

In [2]:
import numpy as np 

x= np.array([1,3,5,3])

In [3]:
x

array([1, 3, 5, 3])

In [4]:
2*x

array([ 2,  6, 10,  6])

In [5]:
x**2

array([ 1,  9, 25,  9], dtype=int32)

In [6]:
1/x

array([1.        , 0.33333333, 0.2       , 0.33333333])

In [9]:
x = np.linspace(0,20,10)

**Creates equally spaced elements from 0 - 20, 10 times**

In [10]:
x

array([ 0.        ,  2.22222222,  4.44444444,  6.66666667,  8.88888889,
       11.11111111, 13.33333333, 15.55555556, 17.77777778, 20.        ])

In [11]:
x = np.arange(0,20,2)

In [12]:
x

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

In [13]:
x[1]

2

**Plotting**

In [ ]:
import matplotlib as plt